body{
    margin: 0;
    font-family: 'Poppins', sans-serif ;
}
#bold{
    font-size: 40px;
    font-weight: 900;
    color: #086aeb
}
section{
    height: 500px;
    padding-bottom: 70px;
}
.half{
    width: 40%;
    float: left;
    margin-left: 7%;
    padding-left: 2%;

}
.half img{
    width: 80%;
    margin-left: 5%;
}
.header-bg{
    background-image: url(assets/header-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.link-button{
    text-decoration: none;
    background-color:#086aeb ;
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    
}
.bio{
    background-image: url(assets/biography-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
.immg{
    width: 25%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
}
.testimonial{ 
    text-align: center;
    background-image: url(assets/footer-bg.png);
    background-repeat: no-repeat;
}
.tx{
    text-decoration: none;
    background-color:#086aeb ;
    padding: 10px 25px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    margin-left: 20%;
    margin-right: 20%;
    
}
footer{
    text-align: center;
}

